<%- include('../includes/labs.head.ejs') %>
<body class="dark-background">
    <div class="container is-fullhd">
        <p class="title is-5-desktop">Tienda</p>
        <div class="card">
            <div class="card-content">
                <% if (productos.length > 0) { %>
                    <% for (let producto of productos) { %>
                        <div class="media">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                                </p>
                            </figure>
                            <div class="media-content">
                                <button id="boton_producto<%= producto.id %>" class="button is-dark">Precio</button>
                                <button id="boton_seleccion<%= producto.id %>" class="button is-dark">Seleccionar producto</button>
                                <figure class="card are-small" id="precio_producto<%= producto.id %>">...</figure>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</body>
<%- include('../includes/labs.foot.ejs') %>
