<%- include('../includes/labs.head.ejs') %>

    <body class="dark-background">
        <div class="container is-fullhd">
            <p class="title is-5-desktop">Tienda</p>
                <figure class="image is-128x128">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Oxxo_Logo.svg/1200px-Oxxo_Logo.svg.png"
                        alt="Tienda">
                </figure>
            <p class="title is-4">Productos</p>
            <div class="card">
                <div class="card-content">
                    <% for (let producto of productos) { %>
                        <div class="columns">
                            <div class="column">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-128x128">
                                            <img src="<%= producto.imagen%>" alt="<%= producto.nombre%>">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">
                                            <%= producto.nombre%>
                                        </p>
                                    </div>
                                    <div class="media-right">
                                        <button id="boton_producto" class="button is-dark">Precio</button>
                                        <button id="boton_seleccion" class="button is-dark">Seleccionar
                                            producto</button>
                                        <figure class="card are-small" id="precio_producto">...</figure>
                                        <script src="/tiendaDOM.js"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                </div>
                
                <% } %>

            </div>

        </div>
        <p class="title is-4">Tiempo desde el último acceso: <%= tiempo_transcurrido %> segundos.</p>
        


    <%- include('../includes/labs.foot.ejs') %>